{erl_opts, [debug_info]}.
{deps, [cowboy]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [cowboy_ws]}
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{relx, [
        {release,
         {cowboy_ws, {cmd, "cat VERSION | tr -d '[:space:]'"}},
         [
          sasl,
          crypto,
          public_key,
          inets,

          ranch,
          cowboy,

          {cowboy_ws, permanent}]},

        {include_src, false},
        {generate_start_script, true}
       ]}.
